@charset "UTF-8";

/* 回答はここに書いてね */
.box1 {
  padding: 20px;
  display: table;
  box-sizing: border-box;
  width: 100%;
}
.box1-1 {
  background-color: #fdc8b8;
  padding: 20px;
  width: 100px;
  display: table-cell;
  text-align: center;
  float: left;
}
.box1-2 {
  background-color: #e0abd9;
  padding: 20px;
  text-align: center;
}
.box1-3 {
  background-color: #b6d8ed;
  padding: 20px;
  width: 100px;
  display: table-cell;
  text-align: center;
}
.box2 {
  padding: 20px;
  display: table;
  box-sizing: border-box;
  width: 100%;
}
.box2-1 {
  background-color: #e5d32e;
  padding: 20px; 
  text-align: center;
  display: table-cell;
}
.box2-2 {
  background-color: #ec8f9a;
  padding: 20px;
  text-align: center;
  display: table-cell;
}
.box2-3 {
  background-color: #8fdcad;
  padding: 20px;
  display: table-cell;
  width: 500px;
  text-align: center;
}
/* 回答はここに書いてね */
